* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    margin: 2% auto;
    font-size: 75px;
}

.div-dados-token input,
#section-date input {
    border: 4px solid #000;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 25px;
    margin-top: 25px;
}

.div-dados-token label,
#labelToken,
#section-date label {
    font-size: 25px;
    margin: 55px;
}

.div-dados-token input::placeholder {
    padding-left: 10px;
}

#ButtonSoliciteToken {
    display: block;
    margin: 35px auto;
    width: 50%;
    font-size: 25px;
}

#ButtonSoliciteBaseList,
#BaseList,
#registerList {
    margin: 15px;
    width: 45%;
    font-size: 25px;
}

#BaseList {
    padding-left: 15px;
}

#ButtonSoliciteBaseList:hover,
#ButtonSoliciteToken:hover,
#registerList:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #fff 15%, #5AC9E4);
    border-radius: 10px;
}

#BaseList:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #5AC9E4, #fff);
    border-radius: 10px;
}