* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    margin: 2% auto;
    font-size: 75px;
}

.div-dados-token input {
    border: 4px solid #000;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 25px;
    margin-top: 25px;
}

.div-dados-token label,
#labelToken {
    font-size: 25px;
    margin: 55px;
}

.div-dados-token input::placeholder {
    padding-left: 10px;
}

textarea {
    margin-right: 0.5%;
}

#ButtonSoliciteToken {
    display: block;
    margin: 35px auto;
    width: 50%;
    font-size: 25px;
}

#ButtonSoliciteToken:hover {
    cursor: pointer;
}